.dog-bg{
  background-image:url("bg.png");
}
.dog-card{
  border:10px solid white;
  border-radius:40px;
  background-color: black;
  color:white; 
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.dog_img{
    margin-top:20px;
    height:250px;
}
.dog_but{
    background-color:yellowgreen;
    color: black;
    font-weight:bold;
}
.dog_txt{
   color:yellowgreen;
}